button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #3a3a3a;
    transition: 0.5s ease;
    user-select: none;
  }